/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    crosses_dongle_transform: keymap_transform_dongle {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;
        map = <
            0x100 0x101 0x102 0x103 0x104 0x105 0x106 0x107 0x108 0x109 0x10a 0x10b
            0x200 0x201 0x202 0x203 0x204 0x205 0x206 0x207 0x208 0x209 0x20a 0x20b
            0x300 0x301 0x302 0x303 0x304 0x305 0x306 0x307 0x308 0x309 0x30a 0x30b
            0x403 0x404 0x405 0x406 0x407 0x408
        >;
    };

    gggw_crosses_42_layout: gggw_crosses_42_layout {
        compatible = "zmk,physical-layout";
        display-name = "42 Key";
        transform = <&crosses_dongle_transform>;
    };
};
