/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,input = &trackball_peripheral_split;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-composite";
        rows = <&kscan0>;
        columns = <&kscan0>;
    };
};

&default_transform {
    col-offset = <21>;
};
