 / {
     chosen {
         zmk,physical-layout = &gggw_crosses_42_layout;
     };

     split_inputs {
         trackball_peripheral_split: trackball_peripheral_split@0 {
             compatible = "zmk,input-split";
             reg = <0>;
             device = <&trackball_central>;
         };
     };
 };
